/* Contenedor del Encabezado */
.dashboard-header {
  padding: 20px 25px;
  padding-top: 60px;
  background-color: #FFFFFF;
  text-align: left;
}

.header-greeting {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 1000;
  color: #5C504A;
  margin: 0;
  line-height: 1.2;
}

.header-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 8px;
  color: #D79A8B;
}
