<ion-content [fullscreen]="true">

  <app-profile-picture></app-profile-picture>
  <app-refuge-details></app-refuge-details>
  <app-stats-practioner></app-stats-practioner>

  <!-- Sección General con traducciones -->
  <div class="menu-section-title">{{ 'TAB4.GENERAL' | translate }}</div>

  <!-- Selector de idioma -->
  <app-language-selector></app-language-selector>

  <app-sections-info-user iconName="library-outline" translationKey="TABS.PROFILE"></app-sections-info-user>


  <!-- Sección Cuenta con traducciones -->
  <div class="menu-section-title">{{ 'TAB4.ACCOUNT' | translate }}</div>

  <app-sections-info-user (OnClickOpenScreen)="logout()" iconName="exit-outline"
    translationKey="AUTH.LOGOUT"></app-sections-info-user>


</ion-content>