<div class="section-header">
  <h3 class="section-title">Explora más</h3>

  <button class="section-action">Ver todo</button>
</div>

<div class="daily-suggestion-card">

  <div class="suggestion-visual">
    <span class="suggestion-icon">🪷</span>
  </div>

  <div class="suggestion-content">
    <div class="suggestion-header">
      <span class="suggestion-tag">Sugerencia</span>
    </div>
    <h4 class="suggestion-title">Calma Mental</h4>
    <div class="suggestion-meta">
      <span>10 min</span>
      <span class="meta-dot">•</span>
      <span>Guiada</span>
    </div>
  </div>

  <div class="suggestion-arrow">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

</div>

<div class="daily-suggestion-card">

  <div class="suggestion-visual">
    <span class="suggestion-icon">🙏🏻</span>
  </div>

  <div class="suggestion-content">
    <div class="suggestion-header">
      <span class="suggestion-tag">Meditacion del dia</span>
    </div>
    <h4 class="suggestion-title">Vjarassatva</h4>
    <div class="suggestion-meta">
      <span>5 min</span>
      <span class="meta-dot">•</span>
      <span>Libre</span>
    </div>
  </div>

  <div class="suggestion-arrow">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

</div>


