/* Título Principal (Ej: "Tu Camino") */
.header-title {
  font-family: sans-serif; /* Usa tu fuente principal */
  font-size: 36px;
  font-weight: 800; /* Extra bold para impacto */
  color: #5C504A;   /* Café Oscuro */
  text-align: center;
  margin: 0;
  margin-bottom: 8px; /* Espacio con el subtítulo */
  letter-spacing: -0.5px;
  margin-top: 40px;
}

/* Subtítulo Descriptivo (Ej: "Acumulación de Mérito...") */
.header-subtitle {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #B8B0AB;   /* Gris Niebla */
  text-align: center;
  margin: 0;
}

/* Subtítulo Descriptivo (Ej: "Acumulación de Mérito...") */
.header-stats {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #B8B0AB;   /* Gris Niebla */
  text-align: center;
  margin: 0;
  margin-bottom: 30px; /* Separación con la primera tarjeta */
  margin-top: 10px;
}
