<ion-content [fullscreen]="true">
  <div class="login-container">
    <h1 class="login-title">Crea Tu Cuenta 🧘‍♀️</h1>
    <p class="login-subtitle">Comienza tu viaje hacia la atención plena con nosotros.</p>

    <!-- Mensaje de Error -->
    <div class="error-message" *ngIf="errorMessage()">
      {{ errorMessage() }}
    </div>

    <!-- Botón de Google -->
    <button class="boton-social" (click)="registerWithGoogle()" [disabled]="isLoading()">
      <ion-icon aria-hidden="true" name="logo-google"></ion-icon>
      <span>{{ isLoading() ? 'Cargando...' : 'Continuar con Google' }}</span>
    </button>

    <!-- Separador -->
    <div class="separador">o regístrate con</div>

    <!-- Formulario de Registro -->
    <div class="input-group">
      <label class="input-label" for="name">Nombre</label>
      <input id="name" type="text" class="input-texto" placeholder="Tu Nombre" [(ngModel)]="name"
        [disabled]="isLoading()" />
    </div>

    <div class="input-group">
      <label class="input-label" for="email">Correo Electrónico</label>
      <input id="email" type="email" class="input-texto" placeholder="tu@email.com" [(ngModel)]="email"
        [disabled]="isLoading()" />
    </div>

    <div class="input-group">
      <label class="input-label" for="password">Contraseña</label>
      <input id="password" type="password" class="input-texto" placeholder="••••••••" [(ngModel)]="password"
        [disabled]="isLoading()" (keyup.enter)="registerWithEmail()" />
    </div>

    <!-- Botón Principal -->
    <app-button text="Crear Cuenta" (buttonClick)="registerWithEmail()">
    </app-button>

    <!-- Enlace para Iniciar Sesión -->
    <p (click)="goToLogin()" class="enlace-toggle">
      ¿Ya tienes una cuenta? <span>Inicia Sesión</span>
    </p>

  </div>

</ion-content>