<div class="ngondro-card" *ngFor="let item of practicesWithProgress()" (click)="goToDetailsCounter(item.practice.id)">
  <div class="card-top">
    <div class="card-emoji">{{ item.practice.emoji }}</div>
    <div class="card-info">
      <h3 class="card-title">{{ item.practice.name }}</h3>
      <p class="card-subtitle">{{ item.practice.description }}</p>
    </div>
  </div>

  <div class="progress-number">
    {{ formatNumber(item.progress?.totalRepetitions || 0) }}
  </div>
  <div class="progress-row">
    <div class="progress-track">
      <div class="progress-fill" [style.width.%]="item.percentage"></div>
    </div>
    <span class="progress-percent">{{ item.percentage }}%</span>
  </div>
</div>