.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}

.slide-title {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 1000;
  color: #5C504A;
}

.slide-image {
  max-width: 90%;
  height: auto;
  max-height: 300px;
  margin-bottom: 10px;
}

.slide-subtitle {
  color: #5C504A;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
  line-height: 1.5; /* Aumenta el espacio entre líneas */
}
